
.detalle_producto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detalle_producto img {
  width: 100%;
  border-radius: 8px;
  background-color: rgba(240, 230, 211, 0.8);
}

.detalle_contenido {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detalle_contenido h2 {
  text-align: center;
  font-size: 28px;
  color: #a0522d;
  font-family: "Playfair Display", sans-serif;
}

.precio {
  font-size: 2rem;
  text-align: center;
  color: #333;
  font-family: "Playfair Display", sans-serif;
}

.detalle_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(240, 230, 211, 0.8);
  padding: 15px;
  border-radius: 8px;
}

.detalle_info p strong {
  color: #c47a6d;
}

.btn-agregarcarrito {
  padding: 15px 30px;
  background-color: #c47a6d;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-agregarcarrito:hover {
  background-color: #a0522d;
}

@media (min-width: 768px) {
    .detalle_producto {
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        justify-content: center;
        margin-top: 10vh;
        margin-bottom: 15vh;
    }

    .detalle_producto img {
        width: 50%;
    }

    .detalle_info {
        width: 50%;
    }

    .detalle_producto h2 {
        font-size: 28px;
        text-align: left;
    }

    .btn-agregarcarrito {
        width: auto;
        padding: 20px 40px;
    }
}

@media (min-width: 1024px) {
    header {
        height: 80px;
    }

    body {
        padding-top: 80px;
    }

    .detalle_producto img {
        width: 500px;
    }

    .detalle_producto {
        margin-top: 10vh;
        margin-bottom: 20vh;
    }

    .detalle_producto h2 {
        font-size: 30px;
    }
}
